What's the difference between `and` and `&` operators

In [2]:
color1 = 'blue'
color2 = 'red'
(color1 == 'blue') and (color2 == 'blue')

False

In [3]:
color1 = 'blue'
color2 = 'blue'
(color1 == 'blue') and (color2 == 'blue')

True

In [4]:
True and True

True

In [5]:
False and True

False

In [6]:
False and False

False

In [7]:
True and False

False

In [8]:
import pandas as pd

In [9]:
employees = pd.read_csv('/data/employees.csv')

In [10]:
employees

      ID             Name                Title  SupervisorID  Department
0   8232      Amit Bhagat                  CEO           NaN        None
1  18374        Paul Boal          VP Delivery        8232.0    Delivery
2  38821       Drew Marco   Engagement Manager       18374.0    Delivery
3  11232      Eric Keeney   Engagement Manager       18374.0    Delivery
4  99123  Santhosh Kanala    Senior Consultant       11232.0    Delivery
5  11221    Geoff Windsor    Senior Consultant       38821.0    Delivery
6  36466       Mike Demos                  COO        8232.0        None
7  76633       Tim Pierce           VP Finance       36466.0     Finance
8  88887      Oanhna Jala      Finance Analyst       76633.0     Finance
9  99823  Jennifer Patton  Recruiting Director       36466.0  Recruiting

In [12]:
vp_filter = employees['Title'].str.contains('VP')

In [13]:
delivery_filter = employees['Department'] == 'Delivery'

In [19]:
vp_filter

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9    False
Name: Title, dtype: bool

In [16]:
delivery_filter

0    False
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
9    False
Name: Department, dtype: bool

In [20]:
vp_filter | delivery_filter

0    False
1     True
2     True
3     True
4     True
5     True
6    False
7     True
8    False
9    False
dtype: bool