In [ ]:
import pandas as pd

In [ ]:
data = pd.read_json('https://data.cdc.gov/api/views/e8kx-wbww/rows.json?accessType=DOWNLOAD')

In [1]:
import pandas as pd
import json 
import requests

response = requests.get('https://data.cdc.gov/api/views/e8kx-wbww/rows.json?accessType=DOWNLOAD')
json_data = json.loads(response.text)

df = pd.DataFrame(json_data.get('data'))

In [2]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,row-iv33~tesn.zgi5,00000000-0000-0000-53D4-333901BECB03,0,1580141894,None,1580141894,None,{ },1960,All Races,10-14 Years,0.8
1,row-74gu-3rvq-h5wf,00000000-0000-0000-0B9F-E1A6706D0075,0,1580141894,None,1580141894,None,{ },1960,All Races,15-17 Years,43.9
2,row-a2zr.5imu-ecbh,00000000-0000-0000-0FFC-A65B15AE0CC5,0,1580141894,None,1580141894,None,{ },1960,All Races,15-19 Years,89.1
3,row-xn2k~w5r5-4wqk,00000000-0000-0000-00A9-1BB08D9818A6,0,1580141894,None,1580141894,None,{ },1960,All Races,18-19 Years,166.7
4,row-etr4.qn3w.x7ba,00000000-0000-0000-2626-7DCD8E4AC5ED,0,1580141894,None,1580141894,None,{ },1961,All Races,10-14 Years,0.9

In [1]:
sum([1,2,3])

6